@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
	margin: 4px 32px;
	background-color: skyblue;
}
h2 {text-align: center;}
/*******************************/

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

video, audio, iframe {
  margin: 0 auto;
  display: block;
  width: 100%;  /* ADD 'Responsiveness' */
}
/****************************/
.play-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.pause-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    color: transparent;
}

.pause-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.pause-button:after {
    content: "❙❙";
    display: block;
    position: absolute;
    top: 5.5px;
    left: 20px;
    margin: 0 auto;
    border-style: double;
    border-width: 0px 0px 0px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.sortable tr {
    cursor: pointer;
}
.fas{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color:white; 
    padding: 10px;
    position: absolute;
top: 365px; 
left: 310px;
}
#anterior{
   font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color:white; 
    padding: 10px;
    position: absolute;
top: 365px; 
left: 135px; 
transform: rotate(180deg);
}
.prev-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.prev-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.prev-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 13px;
    margin: 0 auto;
    border-style: solid;
    border-width:  9.5px 17px 9.5px 0; //top derecha abajo izquierda //top y abajo iguales
    border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
}
.prev-button:after {    
    content: "d";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 34px;
    bottom: 7.5px;
    margin: 0 auto;
    border-style: solid;
    color: transparent;
    border-width: 0px 0px 0px 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.next-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.next-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}
.next-button::before {
    content: "d";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 22px;
    bottom: 7.5px;
    margin: 0 auto;
    border-style: solid;
    color: transparent;
    border-width: 0px 0px 0px 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.next-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 31px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}