@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
	margin: 4px 32px;
	background-color: skyblue;
}
h2 {text-align: center;}
/*******************************/
.subGrid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 4px;
}
@media only screen and (min-width: 620px){
  .subGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
/****************************/
section {margin: 32px 0;}
section:nth-child(odd) {background: skyblue;}
section:nth-child(even) {background: pink;}
/* <Video> DIV ========================= */
.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

video, audio, iframe {
  margin: 0 auto;
  display: block;
  width: 100%;  /* ADD 'Responsiveness' */
}
/****************************/
.play-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.pause-button {
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.pause-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.pause-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: double;
    border-width: 0px 0 0px 60px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.sortable tr {
    cursor: pointer;
}